@media screen and (min-width: 769px) and (max-width: 1279px){

    .wrapper-1180{
        height: 590px;
        width: 720px;
        padding: 32px 24px;
    }
    img{
        height: 164px;
        width: 218px;
    }
    article h3{
        width: 218px;
    }
}