@media screen and (max-width: 480px){

    section{
        padding: 32px 16px;
        width: 375px;
        gap: 32px;
    }
    article img{
        width: 128px;
        height: 128px;
    }
    article p{
        width: 343px;
    }
}